* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body {
    font-family: Arial, sans-serif;
    background-color: #0B0543;
    color: white;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #0B0543;
    backdrop-filter: blur(10px);
    z-index: 1000;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    font-family: "Pliant", sans-serif;
}
.logo {
    color: #6366f1;
}

.nav-links {
    display: flex;
    gap: 25px;
    list-style: none;
}

.nav-links a {
    color: white;
    text-decoration: none;
    transition: 0.3s;

}

.nav-links a:hover {
    color: #6366f1;
}

.buttons {
    display: flex;
    gap: 10px;
}

button {
    padding: 10px 16px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    transform: scale(1.05);
}
